// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.row{
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.dropdown-item:hover{
  background-color: $primary !important;
  background: $primary !important;
  color: white !important;
}


header .dropdown-menu{
  transform: translate3d(-90px, 23px, 0px) !important;
}

.dataTables_paginate .pagination,
.dataTables_filter{
	display: flex;
	justify-content: flex-end;
}